h3{
    color:rgb(114, 52, 156);
}
.myHeadex{
    color:rgb(112, 72, 24);
    background-color: rgb(238, 206, 206);
    margin: 10px;
}
#mythirdelementex{
    color: rgb(165, 42, 73);
}
.myptagex{
    color: rgb(63, 38, 7);
}